.App {
  text-align: center;
  background-image: url('https://previews.123rf.com/images/lexiclaus/lexiclaus1905/lexiclaus190500183/123747011-vector-seamless-pattern-of-black-and-white-jam-jars-monochrome-repeat-background-with-preserved-food.jpg'); 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #074e61;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
